.toast {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
    margin: 1.5rem auto;
    padding: 1.5rem 2rem;
    width: 500px;
    transform: translateY(200%);
    transition: 0.5s all;
    opacity: 0;
    background: #363136;
    color: white;
    user-select: none;
}

.toast.toast--shown {
    transform: translateY(0);
    opacity: 1;
}

.toast .toast-close {
    float: right;
    cursor: pointer;
    margin-left: 1em;
}

.toast .toast-button {
    float: right;
    background: inherit;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: -0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.toast .toast-button:hover {
    background: #514951;
}

.toast .toast-button:active {
    background: #6b626b;
}
